
@{
    ViewBag.Title = "Main- From";
}


<div class="jumbotron">
    <img src="~/Imges/WIS_Logo1.png" class="float-right" style="margin-top:-116px;height:100%;" />
    <h1 class="display-4">Hello, world!</h1>


    @{
        try
        {
            if (@ViewBag.welcomeInfo != null) 
            {

                <p class="lead text-success">@ViewBag.welcomeInfo</p>
            }
        }
        catch (Exception)
        {

            throw;
        }
    }
     
    <hr class="my-4 invisible">
    <p>
        Welcome Institute of Studies (WIS) is a fictitious tertiary educational institute. The WIS is one of the
        newly established New Zealand’s educational institute.
    </p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Register Now</a>
</div>